@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sytner IT, Sytner Group, </br>
    Penman Way, Grove Park, </br>
    Leicester, LE19 1ST</br>
    <abbr title="Phone">Phone:</abbr>
    0781 544 4740
    <abbr title="Fax">Fax:</abbr>
    0116 282 1099
</address>

