@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="jumbotron">
    <h1>Welcome</h1>
   <p>Welcome to our system for rating staff.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Staff Member Records</h2>
        <p>
            Staff Members to be added for system.
        </p>
        <p><a class="btn btn-default" href="http://localhost:8745/Staffs/Index">Staff Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rating</h2>
        <p>Rating our staff</p>
        <a class="btn btn-default" href="http://localhost:8745/Reviews/Index">Rating &raquo;</a></p>
    </div>
</div>